---
import '../styles/global.css';
import 'remixicon/fonts/remixicon.css';

interface Props{
    title?: {
        type: string,
        default: "The Title, return of the Subtitle!"
    }
    description?: {
        type: string,
        default: "Crazy story, so basically like, the title returned and the subtitle died in the end too"
    }
    postDate?: {
        type: string,
        default: "03 de Jan de 2026"
    }
    link?: string,
    iconElement?: {
        type: HTMLElement,
        default: ""
    },
}
const { title, description, postDate, link, iconElement } = Astro.props;
let icon = ``;

if (iconElement !== undefined && iconElement !== null){
    icon = `${iconElement.type} |`; 
}
---
<div class="card-style-darker min-w-64 min-h-48 flex flex-col justify-center">
    <h3 class="font-warbler-text font-bold text-2xl">{icon}{title}</h3>
    <p class="text-text-muted">{description}</p>
    <p class="text-text-muted text-xs italic opacity-50">{postDate}</p>
    <a href={link}>Ler Mais <i class="ri-arrow-right-long-line"></i></a>
</div>